.contact__container {
    height: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact .textContainer h1 {
    display: flex;
    flex-direction: column;

}

.contact .textContainer h1 span {
    color: orange;
    font-weight: 300;
    
}

.contact .textContainer .item {
    display: flex;
    gap: 40px;
}

.contact .textContainer .item svg {
    height: 30px;
    width: 30px;
    color: orange;
}

.contact .formContainer {
    flex: 1;

}

.contact .formContainer form{
   margin-inline: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    box-shadow: var(--box-shadow);
    padding:20px;
}

.contact .formContainer form input,
.contact .formContainer form textarea {
    background-color: transparent;
    padding: 20px;
    border: 1px solid grey;
    color: var(--primary-text-color);
    border-radius: 15px;

}