.about__section-image {
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}


.about__section-image:nth-child(2) {
    transform: skew(-15deg);
}

.about__section-image:hover {
    transform: skew(0);
}

.about__section-content h1 {
    margin-bottom: 2rem;

}

.about__section-content p {
    margin-bottom: 1rem;
}

.about__drive .section-header .section-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.about__drive .section-header .section-header-content a,
.about__drive .section-header .section-header-content p{
    display: none
}


.about__drive .drive-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 7rem;
    position: relative;
}

.about__drive .drive-wrapper h4 {
    position: absolute;
    top: -50px;
    left: 40%;

}

.about__drive .drive-wrapper img {
    border-radius: 20px;

}

.about__drive .drive-wrapper .about-vision-container,
.about__drive .drive-wrapper .about-mission-container,
.about__drive .drive-wrapper .about-values-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: var(--transition); 
    
       
}

.about__drive .drive-wrapper .about-vision-container:hover,
.about__drive .drive-wrapper .about-mission-container:hover,
.about__drive .drive-wrapper .about-values-container:hover {
    box-shadow: var(--box-shadow-hovered); 
    z-index: 20;  
    scale:1.1;
    overflow: visible;
}

.about__drive .drive-wrapper .content-wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    scale: 1 1;
    margin-top: 2rem;
    padding-inline: 20px;
    border-radius: 20px;
    transition: var(--transition); 
    
}

.about__drive .drive-wrapper .content-wrapper:hover{
    scale: 1 1.1;
    transform-origin: 0;
    transform: translateY(1rem -1rem);
    background-image: linear-gradient(to top, #f1683a, transparent);
}

.about__section-content .section-header .section-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about__section-content .section-header .section-header-content p,
.about__section-content .section-header .section-header-content a {
    display: none;

}

.about__story-container,
.about__mission-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    align-items: center;
    height: 100%;
}

.about__vision-container,
.about__whyUs-container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
    align-items: center;
    height: 100%;
}

/*=========  Members =================*/

.members {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
    align-items: center;
    padding-top: 20px;
    height: 100%;
}

.members .members-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.members .members-content {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    flex-direction: column;
}

.members .members-content h5, 
.members .members-content h3, 
.members .members-content p {
    padding: 2px;
}
.members .members-content .section-header .section-header-content a{
    display: none;
}

.member {
    position: relative;
    height: 100%;
}


.member .content {
    position: absolute;
    max-width: 40%;
    left: 33%;
    margin-top: 2rem;
    height: 90%; 
    z-index: 56;  
   
}

.member .content::before {
    content:"";
    position: absolute;
    padding: 2rem;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    border: 1px solid red;    
    
}

.member .content h5,
.member .content h4,
.member .content p {
    font-size: 1rem;

}





/* Media Queries (medium screens) */
@media screen and (max-width: 1024px) {
    .about__section-image {
        width: 60%;
    }

    .about__section-content h1 {
        margin-bottom: 1.2rem;
    }

    .about__story-container,
    .about__vision-container,
    .about__mission-container,
    .about__whyUs-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about__vision .about__section-image {
        grid-row: 1;
    }
}

/* Media Queries (small screens) */
@media screen and (max-width: 600px) {
    .about__section-image {
        width: 80%;
        margin-inline: auto;
    }

    .about__story-container,
    .about__mission-container,
    .about__vision-container,
    .about__whyUs-container {
        gap: 2rem;
    }





}